{% extends 'base.html' %}
{% block title %}
<title>Aprende</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/aprende.css">
{% endblock %}
{% block contenido %}
<main class="contenido">
<h1 class="titulo">APRENDE</h1>
<h2 class="subtitulo">Agenda 2030</h2>
<p>La Agenda 2030 ofrece un cambio en relación con el modelo tradicional de desarrollo, integrando un desarrollo sostenible con dimensiones económicas, sociales y medioambientales. Nos muestra un ideal transformador para un desarrollo sostenible centrado en las personas y el planeta. Sobre todo los derechos humanos.</p>
<h2 class="subtitulo">¿Qué son los ODS?</h2>
<p>Los Objetivos de Desarrollo Sostenible (ODS) construyen una visión del futuro que queremos y son aplicadas en todas las naciones para proteger el planeta, mejorar las vidas y las perspectivas de las personas en todo el mundo.</p>
<h2 class="subtitulo">ODS 6</h2>
<p>El ODS 6 se centra en garantizar la disponibilidad, la gestión sostenible del agua y el saneamiento para todos. Para esto, se plantean medidas como el acceso universal y equitativo al agua potable, la reducción de la contaminación, reducir la emisión de productos químicos y el porcentaje de aguas residuales sin tratar.Además se busca apoyar y fortalecer la participación de las comunidades locales en la mejora de la gestión del agua y el saneamiento.</p>
<h2 class="subtitulo">ODS 14</h2>
<p>El ODS 14 se centra en conservar y utilizar los océanos, los mares y los recursos marinos de manera sostenible. Busca prevenir y reducir la contaminación marina de todo tipo, minimizar la acidificación de los océanos y reglamentar la explotación pesquera, entre otras.</p>
<h2 class="subtitulo">Océanos</h2>
<p>Indirectamente, la pesca marina empela mas de 200 millones de puestos de trabajo.La acuicultura es el conjunto de actividades, técnicas y conocimientos de crianza de especies acuáticas, vegetales y animales. Es una importante actividad económica de producción de alimentos, materias primas de uso industrial y farmacéutico, y organismos vivos para repoblación u ornamentación.</p>
<h2 class="subtitulo">Saneamiento de las aguas</h2>
<p>Aproxiamadamente 4 billones de personas carecen de acceso a servicios básicos de saneamiento, como retretes o letrinas. Tan solo un 45% de la población mundial cuenta con un servicio de saneamiento seguro. </p>
</main>
{% endblock %}