<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Itim&family=Press+Start+2P&display=swapp"  rel="stylesheet">

        <!--CSS Iconos-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!-- CSS Propio -->
        <link rel="stylesheet" href="static/css/style.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}"><i class='bx bxs-home'></i>Inicio</a></li>
                    <li><a href="{{url_for('aprende')}}"><i class='bx bxs-brain'></i>Aprende</a></li>
                    <li><a href="{{url_for('juga')}}"><i class='bx bx-play'></i>Juega</a></li>
                    <li><a href="{{url_for('irAIngresar')}}"><i class='bx bxs-log-in-circle'></i>Ingresar</a></li>
                </ul>
            </nav>
        </header>
        {% block contenido %}{% endblock %}
    </body>
</html>