{% extends 'base.html' %}
{% block title %}
<title>T1 - Juega</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/juega.css">
{% endblock %}
{% block contenido %}
<main>
    <span class="titulo">{{correctas}}</span>
  
    <div class="carrusel">
        <div class="contenedor-imagenes" id="contenedor-imagenes">
            <a href="quiz" onclick=""><img src="static/img/quiz.jpg" alt=""></a>
            <a href="#"><img src="static/img/VoF.jpg" alt="Verdadero o Falso"></a>
            <a href="#"><img src="static/img/completar.jpg" alt="Completa la Frase"></a>
        </div>
        <div class="botones">
            <button class="izq" onclick="izquierda()"><i class='bx bx-left-arrow-alt'></i></button>
            <button class="der" onclick="derecha()"><i class='bx bx-right-arrow-alt' ></i></button>
        </div>
    </div>
</main>
<script src="static/script/carrusel.js"></script>
{% endblock %}