{% extends 'base.html' %}
{% block title %}
<title>Ingresar</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/registrarse.css">
{% endblock %}
{% block contenido %}
<main class="contenido" id="contenido">
<h1 class="titulo">INGRESAR</h1>
  <form method="POST" action="{{url_for('registrarse')}}" >
    <div class="fila">
      <label for="usuario">Ingrese Usuario: </label>
      <input name="usuario" type="text" class="usuario" id="usuario" placeholder="Usuario" autofocus>
    </div>
    <div class="fila">
      <label for="contraseña">Ingrese su Contraseña: </label>
      <input name="contraseña" type="password" class="usuario" id="contraseña" placeholder="Contraseña">
    </div>
    <div class="fila">
      <input type="submit" class="boton" value="Entrar">
    </div>
  </form>
  <br>
  <h2>¿No tenés cuenta? Haz click <a href="{{url_for('crear_cuenta')}}">aquì</a></h2>
</main>

<script src="static/script/registrarse.js"></script>
{% endblock %}