{% extends 'base.html' %}
{% block title %}
<title>Verdadero o Falso</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/quiz.css">
{% endblock %}
{% block contenido %}
<main class="quiz-info" id="info">
        <span class="titulo">Verdadero o Falso</span>
        <p>Contesta con Verdadero o Falso 10 preguntas relacionadas con los ODS 6 y 14. Tendrás 20 segundos por pregunta. </p>
        <p>Si quiere puede ingresar su nombre para que su puntaje se almacene en la Tabla de Puntajes. Si no quiere que se guarden sus datos, puede darle al boton "Permanecer anonimo"</p>
        <div class="contenedor-botones">
            <button class="boton" onclick="crear_preguntas({{preguntaVF}}, {{respuestaVF}}), juego()">Jugar</button>
        </div>
    </main>
    <main class="quiz" id="VF">

    </main>
    <script src="static/script/vf.js"></script>
{% endblock %}

